{% set pageTitle = "Your postcode shows us you live on a Scottish island" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        There's a seperate <a href="https://www.gov.uk/bank-holidays" class="govuk-link">coronavirus service for people who live on a Scottish island</a>.
    </p>

    <p class="govuk-body">
        If you need help getting a test, call the free NHS Inform helpline: 0800 028 2816 (open 8am to 10pm everyday).
    </p>

{% endblock %}