{% set pageTitle = "You can no longer get a free PCR test" %}
{% extends "layout_service_step.html" %}



{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        If you have symptoms, follow the guidance. The following links open in a new tab: 
    </p>
    
    <ul class="govuk-list">
        <li>
            <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-and-treatment/when-to-self-isolate-and-what-to-do/" class="govuk-link" rel="noreferrer noopener" target="_blank">England: symptoms guidance</a>
        </li>
        <li>
            <a href="https://www.nhsinform.scot/covid19" class="govuk-link" rel="noreferrer noopener" target="_blank">Scotland: symptoms guidance</a>
        </li>
        <li>
            <a href="https://www.gov.wales/guidance-people-symptoms-respiratory-infection-including-covid-19" class="govuk-link" rel="noreferrer noopener" target="_blank">Wales: symptoms guidance</a>
        </li>
        <li>
            <a href="https://www.nidirect.gov.uk/articles/symptoms-respiratory-infections-including-covid-19" class="govuk-link" rel="noreferrer noopener" target="_blank">Northern Ireland: symptoms guidance</a>
        </li>
    </ul>

    <p class="govuk-body">
        If your COVID-19 symptoms are seriously affecting your everyday life, call NHS 111 or your GP. In an emergency call 999.
    </p>

{% endblock %}

