{% set pageTitle = "You can no longer get a free PCR test" %}
{% extends "layout_service_step.html" %}

{# WALES * WALES * WALES #}
{# WALES * WALES * WALES #}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        If you're <a href="https://www.gov.wales/covid-19-treatments" class="govuk-link"> eligible for COVID-19 treatments</a>, you should take a rapid lateral flow test.
    </p>

    <p class="govuk-body">
        You might be eligible to <a href="https://www.gov.uk/order-coronavirus-rapid-lateral-flow-tests" class="govuk-link">get free NHS rapid lateral flow tests sent to your home</a>.
    </p>

    <h2 class="govuk-heading-m">
        If you have symptoms and you're worried
    </h2>

    <p class="govuk-body">
        If your symptoms do not get better, or get worse, contact 111 or speak to your GP. In an emergency dial 999.
    </p>

{% endblock %}

{# WALES * WALES * WALES #}
{# WALES * WALES * WALES #}





