{% set pageTitle = "You can no longer get a free PCR test" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        If you're <a href="https://www.nidirect.gov.uk/articles/treatments-coronavirus-covid-19" class="govuk-link"> eligible for COVID-19 treatments</a>, you should take a rapid lateral flow test.
    </p>

    <p class="govuk-body">
        Find out more about <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-testing-and-stay-home-advice" class="govuk-link">who can get free rapid lateral flow tests</a>
    </p>

    <p class="govuk-body">
        <a href="https://www.gov.uk/order-coronavirus-rapid-lateral-flow-tests" class="govuk-link">Order free rapid lateral flow tests</a>
    </p>

    <h2 class="govuk-heading-m">
        If you have symptoms and you're worried
    </h2>

    <p class="govuk-body">
        If your symptoms do not get better, or get worse, contact your GP or
        your GP out of hours service. In an emergency dial 999.
    </p>

{% endblock %}



