{% set pageTitle = "Sorry, there is a technical problem" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        Please try again.
    </p>
    <p class="govuk-body">
        If the problem continues, call 119 (free from mobiles and landlines).
    </p>

    <p class="govuk-body">
        Lines are open:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            Monday to Friday (including  <a href="https://www.gov.uk/bank-holidays" class="govuk-link">bank holidays</a>), 8am to 6pm
        </li>
        <li>
            Saturday and Sunday, 9am to 1pm
        </li>
    </ul>


    {# https://design-system.service.gov.uk/components/button/ #}
    {{ govukButton({
        text: "Try again",
        classes: "govuk-!-margin-top-4"
    }) }}
        
{% endblock %}