{% set pageTitle = "Sorry, there are no home delivery slots for these tests right now" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        The 119 service does not have access to more home delivery slots right now. You cannot order tests from NHS 111 or 999.
    </p>
    <p class="govuk-body">
        Try again later.
    </p>

    <h2 class="govuk-heading-m">
        If you're worried
    </h2>

    <p class="govuk-body">
        If you have COVID-19 symptoms which are seriously affecting your everyday life, call NHS 111 (England, Scotland and Wales only) or your GP. In an emergency, call 999.
    </p>

    <p class="govuk-body">
        <a href="https://www.nhs.uk/every-mind-matters/coronavirus/" class="govuk-link">Get tips and advice to take care of your mental health.</a>
    </p>

    <h2 class="govuk-heading-m">
        Guidance on testing
    </h2>

    <p class="govuk-body">
        Find out more about guidance across the UK:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing/get-tested-for-coronavirus/" class="govuk-link">England: testing guidance</a>
        </li>
        <li>
            <a href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19/coronavirus-covid-19/" class="govuk-link">Scotland: testing guidance</a>
        </li>
        <li>
            <a href="https://gov.wales/get-tested-coronavirus-covid-19" class="govuk-link">Wales: testing guidance</a>
        </li>
        <li>
            <a href="hhttps://www.nidirect.gov.uk/articles/coronavirus-covid-19-testing-and-stay-home-advice" class="govuk-link">Northern Ireland: testing guidance</a>
        </li>
    </ul>

{% endblock %}