{% set pageTitle = "Call us to get a coronavirus test" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body-l">
        You need a mobile number and email address to get a coronavirus test online.
    </p>

    <h2 class="govuk-heading-m">
        Call 119
    </h2>

    <p class="govuk-body">
        Calls are free from mobiles and landlines.
    </p>
    <p class="govuk-body">
        Lines are open:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            Monday to Friday, including all <a href="https://www.gov.uk/bank-holidays" class="govuk-link" rel="noreferrer noopener" target="_blank">bank holidays (opens in new tab)</a> 8am to 6pm
        </li>
        <li>
            Saturday and Sunday, 9am to 1pm
        </li>
    </ul>

    <p class="govuk-body">
        119 provides support in 200 languages.
    </p>

    <p class="govuk-body">
        <a href="https://www.gov.uk/bank-holidays" class="govuk-link" rel="noreferrer noopener" target="_blank">SignVideo (opens in new tab)</a> is a free online British Sign Language (BSL) interpreter service for 119.
    </p>
    
{% endblock %}