{% set pageTitle = "Confirm people  for testing" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        You can <strong>add up to 3 people</strong> you live with for testing. If you need tests for <strong>more than yourself and 3 other people</strong>, you'll need to completethis journey again and place a separate order.
    </p>

    <h2 class="govuk-heading-m">
        For home testing
    </h2>
    
    <p class="govuk-body">
        You cannot order more than 4 home test kits at a time.
    </p>
    
    <h2 class="govuk-heading-m">
        PCR test
    </h2>
    {{ govukSummaryList({
        rows: [
            {
                key: {
                    text: "Alex Kidd"
                },
                value: {
                    html: "<p class='govuk-body'>01 December 1980</p><p class='govuk-body'>your@email.com</p><p class='govuk-body'>07766 554321</p>"
                },
                actions: {
                    items: [
                        {
                            href: "Item URL",
                            text: "Edit details",
                            visuallyHiddenText: "Edit personal detais"
                        }
                    ]
                }
            }
        ]
    }) }}

    <div class="govuk-button-group govuk-!-margin-top-8">
        {{ govukButton({
            text: "Save and add another person you live with",
            classes: "govuk-button--secondary",
            href: "#"
        }) }}
        {{ govukButton({
            text: "Save and continue",
            href: "address/delivery-address"
        }) }}
    </div>

    
{% endblock %}