{% set pageTitle = "Where is the delivery address?" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <form class="form" action="symptoms" method="post">
        {{ govukRadios({
            idPrefix: "where-do-you-live",
            name: "where-do-you-live",
            fieldset: { 
                legend: {
                    text:  pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
                }
            },
            hint:{
                text: "If you do not normally live in the UK, select the country where you're staying while you're in the UK."
            },
            items: [
                {
                    value: "england",
                    text: "England"
                },
                {
                    value: "scotland",
                    text: "Scotland"
                },
                {
                    value: "ni",
                    text: "Northern Ireland"
                },
                {
                    value: "wales",
                    text: "Wales"
                }
            ]
        }) }}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
        
    </form>
{% endblock %}