{% set pageTitle = " Which place do you attend?" %}
{% extends "layout_service_step.html" %}

{% block content %}

    <form class="form" action="education-place-details" method="post">
        {{ govukRadios({
            idPrefix: "education-place",
            name: "education-place",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                    value: "nursery",
                    text: "Nursery"
                },
                {
                    value: "primary-school",
                    text: "Primary School"
                },
                {
                    value: "secondary-school",
                    text: "Secondary School"
                },
                {
                    value: "college",
                    text: "College"
                },
                {
                    value: "university",
                    text: "University"
                },
                {
                    value: "other",
                    text: "Other"
                },
                {
                    divider: "or"
                },
                {
                    value: "not-say",
                    text: "Prefer not to say"
                }
            ]
        }) }}

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>

{% endblock %}