{% set pageTitle = "Do you have landline telephone number?" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <form class="form" action="gender" method="post">

        {% set landlineInput %}
            {{ govukInput({
                id: "mobile",
                name: "mobile",
                classes: "govuk-!-width-one-half",
                type: "tel",
                autocomplete: "tel",
                spellcheck: false,
                label: {
                    text: "Landline telephone number"
                }             
            }) }}
            {# {{ govukInput({
                id: "confirmMobile",
                name: "confirmMmobile",
                classes: "govuk-!-width-one-half",
                type: "tel",
                autocomplete: "tel",
                spellcheck: false,
                label: {
                    text: "Confirm mobile number"
                }
            }) }} #}
            
        {% endset %}

        {{ govukRadios({
            idPrefix: "hasLandline",
            name: "hasLandline",
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    conditional: {
                        html: landlineInput
                    }
                },
                {
                    value: "no",
                    text: "No"
                }
            ]
        }) }}

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}

    </form>


{% endblock %}

