{% set pageTitle = "Enter the details of this place" %}
{% extends "layout_service_step.html" %}

{% block content %}

    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        This will help us learn about the type of places where the virus spreads. It will also help contact tracers.
    </p>

    <form class="form" action="/registering-for-answer" method="post">
        {{ govukInput({
            id: "education-name",
            name: "education-name",
            classes: "govuk-!-width-three-quarters",
            label: {
                text: "Name of the nursary, school or collage"
            }
        }) }}
        {{ govukInput({
            id: "education-town",
            name: "education-town",
            classes: "govuk-!-width-three-quarters",
            label: {
                text: "Town"
            }
        }) }}
        
        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4",
            href: "#"
        }) }}
    </form>

    <p class="govuk-body">
        <a href="#" class="govuk-link">Prefer not to say</a>
    </p>    

{% endblock %}