{% set pageTitle = "What is your mobile phone number?" %}
{% extends "layout_service_step.html" %}
{% set titles %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>
    <p class="govuk-body">
        Somthing about it being OK to use someone elses mobile number. 
    </p>
{% endset %}


{% block content %}
    <form action="email" class="form" method="post">
        {% call govukFieldset({
            legend: {
                html: titles,
                classes: "govuk-fieldset__legend--l"
            }
        }) %}

            {{ govukInput({
                id: "mobileNumber",
                name: "mobileNumber",
                classes: "govuk-!-width-one-half",
                type: "number",
                label: {
                    text: "Mobile phone number"
                }
            }) }}
            {{ govukInput({
                id: "confirmmobileNumber",
                name: "confirmmobileNumber",
                classes: "govuk-!-width-one-half",
                type: "number",
                label: {
                    text: "Confirm mobile phone number"
                }
            }) }}
        
        {% endcall %}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}