{% set pageTitle = "Are you part of a priority group?" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        Priority Groups
    </h1>

    <p class="govuk-body">
        Priority groups help to make sure people who need tests the most get them first.
    </p>

    <p class="govuk-body">
        You can only get a PCR test if you are an <a href="https://www.gov.uk/guidance/essential-workers-prioritised-for-covid-19-testing" target="blank" class="govuk-link" rel="noreferrer noopener">essential worker<span class="govuk-visually-hidden">(opens in new tab)</span></a> such as:
    </p>

    <h2 class="govuk-heading-s govuk-!-margin-0">
        In England        
    </h2>
    <p class="govuk-body">
        <a href="https://www.gov.uk/guidance/essential-workers-prioritised-for-covid-19-testing" target="blank" class="govuk-link" rel="noreferrer noopener">Essential workers</a> such as NHS and social care staff, teachers and transport staff are in a priority group.
    </p>
    <h2 class="govuk-heading-s govuk-!-margin-0">
        In Scotland
    </h2>
    <p class="govuk-body">
        Essential workers, those on the Highest Risk List or eligible for new COVID-19 treatments are in a priority group.
    </p>
    <h2 class="govuk-heading-s govuk-!-margin-0">
        In Wales
    </h2>
    <p class="govuk-body">
        People who have been told they are eligible for new COVID-19 treatments are in a priority group.
    </p>
    <h2 class="govuk-heading-s govuk-!-margin-0">
        In Northern Ireland
    </h2>
    <p class="govuk-body">
        Essential workers, or those eligible for new COVID-19 treatments are in a priority group.
    </p>

    <hr class="govuk-section-break govuk-section-break--m">

    <form action="name" method="post">
        {{ govukRadios({
            idPrefix: "priority-group",
            name: "priority-group",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                    value: "yes",
                    text: "Yes"
                },
                {
                    value: "no",
                    text: "No"
                },
                {
                    value: "do-not-know",
                    text: "I do not know"
                }
            ]
        }) }}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}

    </form>

{% endblock %}